html, body {
    height: 100%;
    margin: 0;
}

html {
    background: #333333 url("../img/back_ring.png") no-repeat -300px 40px;
    font-family: monospace;
}

body {
    background: transparent url("../img/back_ring.png") no-repeat 120% 200px;
}

#wrap {
    min-height: 100%;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../img/back_ring.png") no-repeat;
}

#command_box {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 32px;
    padding: 8px 18px;
    position: relative;
}

#command_prefix {
    color: gray;
    float: left;
    margin: 0 0 0 -60px;
    line-height: 32px;
}

#main {
    overflow: auto;
    padding-bottom: 50px;
}

#footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear: both;
    background: #0c0c0c;
    box-shadow: 0 0 10px;
}

/*Opera Fix*/
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

#command_text {
    width: 100%;
    height: 32px;
    background-color: #222;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: inset 1px 1px 3px 0 #000;
}

#main_column {
    position: relative;
    background: #5c5242;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    overflow: auto;
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-color: #29241d;
    box-shadow: inset 0 0 3px;
}

.result_item {
    border-color: #ccb693 black #a89579 black;
    border-width: 1px 0 1px 0;
    border-style: solid;
    background-color: #C2AE8B;
    padding: 10px;
}

#item_wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
}
